@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\000031}}
* {
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\000034}}
body {
  background-color: #f3f3f3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\000037}}
nav {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 20%;
  background-color: #fff;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\0000318}}
nav img {
  width: 150px;
  height: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\0000322}}
nav ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\0000324}}
nav ul .active a {
  color: #FF6347;
  border-bottom: 2px solid #FF6347;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\0000334}}
nav ul li a {
  display: block;
  line-height: 80px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\0000344}}
nav ul li a:hover {
  color: #FF6347;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\0000351}}
.banner {
  margin-top: 80px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\0000353}}
.banner img {
  width: 100%;
  height: 500px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\0000358}}
article {
  width: 1000px;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\0000361}}
article .example {
  text-align: center;
  margin-top: 150px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\0000364}}
article .example h3 {
  font-size: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\0000366}}
article .example h3 img {
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\0000368}}
article .example h3 img:first-child {
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\0000371}}
article .example h3 img:last-child {
  margin-left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\0000376}}
article .example h4 {
  font-size: 16px;
  color: #666;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\0000380}}
article .example a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  width: 250px;
  height: 50px;
  background-color: #d8374d;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  box-shadow: 0 7px 0 #b32c3e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\0000394}}
article .example .swiper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\00003100}}
article .example .swiper .btn {
  background-color: #666;
  padding: 10px 10px;
  border-radius: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\00003104}}
article .example .swiper .btn:hover {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\00003107}}
article .example .swiper .btn img {
  width: 40px;
  height: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\00003112}}
article .example .swiper .content {
  width: 100%;
  height: 440px;
  padding: 0 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\00003119}}
article .example .swiper .content li {
  width: 28%;
  height: 100%;
  padding: 20px;
  border: 2px solid #FF6347;
  border-radius: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\00003125}}
article .example .swiper .content li img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #b32c3e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\00003131}}
article .example .swiper .content li p:nth-child(2) {
  font-size: 18px;
  font-weight: 700;
  color: #666;
  margin: 20px 0 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\00003137}}
article .example .swiper .content li p:last-child {
  font-size: 16px;
  color: #999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\00003143}}
article .example .swiper .pagetion {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\00003152}}
article .example .swiper .pagetion li {
  width: 10px;
  height: 10px;
  background-color: #666;
  border-radius: 50%;
  margin: 0 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\00003159}}
article .example .swiper .pagetion .active {
  background-color: #FF6347;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\00003165}}
article .whychoose {
  text-align: center;
  margin-top: 150px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\00003168}}
article .whychoose h3 {
  font-size: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\00003170}}
article .whychoose h3 img {
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\00003172}}
article .whychoose h3 img:first-child {
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\00003175}}
article .whychoose h3 img:last-child {
  margin-left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\00003180}}
article .whychoose h4 {
  font-size: 16px;
  color: #666;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\00003184}}
article .whychoose a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  width: 250px;
  height: 50px;
  background-color: #d8374d;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  box-shadow: 0 7px 0 #b32c3e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\00003198}}
article .whychoose .list {
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\00003204}}
article .whychoose .list li {
  width: 28%;
  box-shadow: 0px 0px 30px #e6e6e6;
  margin-bottom: 40px;
  border-radius: 10px;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\00003210}}
article .whychoose .list li img {
  width: 100%;
  height: 150px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\00003214}}
article .whychoose .list li p:nth-child(2) {
  font-size: 18px;
  margin: 40px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\00003218}}
article .whychoose .list li p:last-child {
  font-size: 16px;
  color: #666;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\00003225}}
article .other {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\00003229}}
article .other h3 {
  font-size: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\00003231}}
article .other h3 img {
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\00003233}}
article .other h3 img:first-child {
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\00003236}}
article .other h3 img:last-child {
  margin-left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\00003241}}
article .other h4 {
  font-size: 16px;
  color: #666;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\00003245}}
article .other a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  width: 250px;
  height: 50px;
  background-color: #d8374d;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  box-shadow: 0 7px 0 #b32c3e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/csTest\/jmlWeb\/src\/scss\/shoppage\/shop\.scss}line{font-family:\00003259}}
article .other > img {
  width: 100%;
  margin: 40px 0;
}
