


a:hover{
    text-decoration: none;
}
body{
    background-color: rgb(243, 243, 243);
}
article{
    width: 1500px;
    margin: 0 auto;
    /* height: 2000px; */
    padding: 0;
    padding-bottom: 50px;
    margin-top: 150px;
    background-color: rgb(243, 243, 243);
}
article>div{
    width: 100%;
}

.nav1{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 100px;
    background-color: #333;
    z-index: 4;
}
.nav1 ul{
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center
}
.nav1 li{
    width: 8%;
    height: 50px;
    margin-right: 6px;
    transition: all .5s;
}
.nav1 a{
    color: #e0e0e0;
    display: block;
    height: 100%;
    font-size: 16px;
    line-height: 50px;  
    text-align: center;
    background: transparent
}
.nav1 a:hover{
    text-decoration: none;
    color: #e0e0e0;
}
.nav1 li:hover{
    background-color: #8F8F8F 
}

.bgc{
    background-color: #8F8F8F 
}


article h4 a:hover{
    text-decoration: none;
    color: #6a6a6a;
}
article h4 a{
    text-decoration: none;
    color: #6a6a6a;
}
article h4{
    color: #6a6a6a;
    font-size: 14px;
    padding: 20px 0;
}

article .dynamic-list ul{
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}
article .dynamic-list li{
    width: 33%;
    background-color: #fff;
    margin-bottom: 20px;
}
article .dynamic-list li:not(:nth-child(3n)){
    margin-right: 0.5%;
}
article .dynamic-list li div{
    overflow: hidden;
}
article .dynamic-list li>div:first-child img{
    width: 100%;
    transition: all .5s;
    position: absolute;
}
article .dynamic-list li:hover{
    cursor: pointer;
}
article .dynamic-list li:hover .time-title p{
    color: #cc0000
}
article .dynamic-list li:hover>div:first-child img{
    transform: scale(1.1)
}
article .dynamic-list li:hover>div:first-child b{
    opacity: 1;
}
article .dynamic-list li:hover>div:first-child b::before,article .dynamic-list li:hover>div:first-child b::after{
    transform: scaleX(0.1)
}
article .dynamic-list li>div:first-child{
    position: relative;
    height: 290px;
}
article .dynamic-list li>div:first-child b{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    padding: 158px 140px;
    text-align: center;
    color: #fff;
    opacity: 0;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
article .dynamic-list li b::before{
    top: 150px;
}
article .dynamic-list li b::after{
    bottom: 134px;
}
article .dynamic-list li b::before,article .dynamic-list li b::after{
    content: '';
    width: 95px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin: 2px 0;
    position: absolute;
    left: 50%;
    margin-left: -47.5px;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
article .dynamic-list li>div:last-child{
    padding: 24px 22px 18px;
}
article .dynamic-list .time-title{
    display: flex;
    align-items: center;
    padding-bottom: 26px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e5e5e5
}
article .dynamic-list .time-title h2{
    margin: 0;
    padding-right: 50px;
    margin-right: 50px;
    border-right: 1px solid #e5e5e5
}
article .dynamic-list .time-title span{
    color: rgba(88, 88, 88, .5);
    font-size: 14px;
}
article .dynamic-list .time-title p{
    font-size: 18px;
}
article .dynamic-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
article .dynamic-link img{
    width: 16px;
    height: 12px;
}
article .dynamic-link p{
    font-size: 16px;
}




article .dynamic-pagination{
    margin-top: 40px;
}
article .dynamic-pagination ul{
    padding-left: 0;
    display: flex;
    justify-content: center;
}
article .dynamic-pagination a{
    display: block;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 14px;
    color: #000;
    line-height: 40px;
}
article .dynamic-pagination li{
    margin-right: 4px;
}



article .findmore{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}
article .findmore h5{
    font-size: 30px;
    margin-bottom: 30px;
}
article .findmore ul{
    width: 100%;
    padding: 0;
    display: flex;
}
article .findmore li{
    width: 33.3%;
}
article .findmore img{
    width: 100%;
    height: auto;
}

article .link{
    width: 100%;
    padding: 24px 40px;
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-bottom: 80px;
}
article .link p{
    font-size: 18px;
    margin: 0;
    border-right: 1px solid #999;
    padding:10px 10px 10px 0;
}
article .link ul{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0
}
article .link li{
    font-size: 16px;
    margin-right: 20px;
    line-height: 30px;
    color: #6e6e6e
}
article .link a{
    text-decoration: none;
    color: #6e6e6e
}



/* .pagination-actived{
    background-color: #da0212;
    color: #fff
} */



