body{
    background-color: rgb(243, 243, 243)
}
article{
    width:1500px;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between
}
article .left{
    width: 1300px;
    /* height: 2000px; */
    padding: 0;
    padding-bottom: 50px;
    background-color: rgb(243, 243, 243)  ;
    position: relative;
    top: 70px;
    z-index: 3;
}
.swiper-container {
    width: 100%;
    height: 450px;
    top:100px;
}  
.swiper-container img{
    width: 100%;
    height: 100%;
}


.top-show{
    width: 1500px;
    margin: 0 auto;
    position: relative;
    top: 40px;
    z-index: 4;
    background-color: #fff;
    padding: 0 50px;
    border-radius: 10px;
    box-shadow: 0 2px 15px #aaa;
}
.top-show .cooperation{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid #d8d8d8 */
}
.top-show .cooperation p{
    display: block;
    width: 10%;
    margin-bottom: 80px;
    border-right: 1px solid #d8d8d8;
    padding-right: 40px;
    font-size: 16px;
}
.top-show .cooperation ul{
    position: relative;
    margin-bottom: 0;
    width: 85%;
    padding-left: 0;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.my-bullet{
    width: 10%;
    height: 100px;
    padding-bottom: 30px;
    border-bottom: 4px solid #fff;
}
.my-bullet b{
    font-size: 24px;
    color: #555;
}
.top-show .cooperation li:hover{
    cursor: pointer;
}
.my-bullet-active{
    border-bottom: 4px solid #FF6347;
}
.my-bullet-active b{
    color: #FF6347;
}





.top-show .cooperation img{
    width: 100%;
    height: 100%;
}


article .info{
    display: flex;
    /* height: 500px; */
    background-color: #fff;
    padding:50px 0;
}
article .left-info,article .right-info{
    width: 50%
}
article .left-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
article .left-info img{
    width: 100%;
    height: 80px;
}
article .left-info-main{
    padding: 0 50px
}
article .left-info-main p{
    font-size: 30px;
}
article .left-info-main p:first-child{
    font-size: 40px;
    font-weight: 700
}
article .left-info-main p:nth-child(4){
    font-size: 16px;
    font-weight: 700;
    margin-top: 70px;
}
article .left-info-main p:nth-child(5){
    font-size: 14px;
    color: grey;
    margin-top: 20px;
    margin-bottom: 20px;
}
article .left-info-main a{
    display: block;
    width: 50px;
    height: 50px;
    margin-top: 100px;
}
article .left-info-main img{
    width: 50px;
    height: 50px;
}
article .left-info-main img:hover{
    cursor: pointer;
}
article .right-info ul{
    padding-left: 0;
    display: flex;
    justify-content: space-around
}
article .right-info ul img{
    width: 52px;
    height: 46px;
    margin-bottom: 10px;
}
article .right-info li{
    text-align: center;
    color: grey
}
article .right-info li p{
    margin-bottom: 0
}
article .right-info>div{
    width: 100%;
    height: auto;
    margin-top: 70px;
    position: relative;
}
article .right-info .mask{
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    filter:Alpha(Opacity=60);
    opacity:0.6;

}
article .right-info>div>img{
    width: 100%;
    height: 400px;
}
article .right-info .maskInfo{
    position: absolute;
    font-size: 40px;
    color: #fff;
    right: 0;
    bottom: -40px;
    text-align: right
}
article .right-info .maskInfo>p{
    margin-right: 30px;
    margin-bottom: 10px;
}
article .right-info .maskInfo div{
    width: 600px;
    height: 80px;
    font-size: 18px;
    margin-top: 40px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}
article .right-info .maskInfo div p{
    margin-bottom: 0;
    margin-right: 50px;
}
article .right-info .maskInfo div img{
    width: 30px;
    height: 20px;
}
article .right-info .maskInfo div:hover{
    cursor: pointer;
}

article .team{
    background-color: #fff;
    padding-top: 80px;
    padding-bottom: 100px;
    margin-bottom: 20px;
    display: flex;
    position: relative;
}
article .team-title{
    width: 44%;
    padding: 0 50px;
    font-size: 30px;
}
article .team-title p:first-child{
    font-size: 40px;
    font-weight: 700;
}
article .team-title p:nth-child(3){
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 50px;
}
article .team-title p:last-child{
    font-size: 14px;
    color: grey;
    padding-right: 160px;
}
article .team-show{
    width: 56%;
    display: flex;
    padding: 0;
    overflow: hidden;
    position: relative;
}
article .team-show>div{
    height: 480px;
    padding: 0;
    position: relative;
}
article .team-show img{
    width: 100%;
    height: 100%;
}
article .team-show .name{
    width: 100%;
    height: 120px;
    position: absolute;
    top: 360px;
    color: #fff;
    background-color: rgba(34, 34, 34, 0.8);
    padding: 24px 20px;
    font-size: 16px;
    transition: all .5s;
    overflow: hidden;
}
article .team-show .name p:nth-child(2){
    font-size: 20px;
}
article .team-show .name span{
    font-size: 14px;
    margin-left: 20px
}
article .team-show .name-info{
    font-size: 14px;
    line-height: 22px;
    display: none
}
article .team .pre-button{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #ababab;
    cursor: pointer;
    right: -50px;
    top: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}
article .team .pre-button img,article .team .next-button img{
    width: 30px;
    height: 30px;
}
article .team .next-button{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #e6e6e6;
    right: -50px;   
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}
article .team-show .swiper-slide:hover .name{
    height: 220px;
    top: 260px;
    background-color: #b41b1d
}
article .team-show .swiper-slide:hover .name-info{
    display: block;
}


article .classify-title{
    width: 100%;
    height: 160px;
    padding: 50px 70px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
article .classify-title-h1{
    font-size: 34px;
    margin-bottom: 0;
    border-right: 1px solid #666;
    padding-right: 30px;
}
article .classify-title-h1 span{
    display: block;
    font-size: 14px;
    color: #e0e0e0
}
article .classify-title>div:last-child{
    color: #e0e0e0;
    cursor: pointer;
}
article .classify-title>div:last-child a{
    text-decoration: none;
    color: #e0e0e0
}
article .classify-title>div:last-child a b{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    position: relative;
    border-radius: 50%;
    background-color: #fff;
}
article .classify-title>div:last-child b img:first-child{
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
}
article .classify-title>div:last-child b img:last-child{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0)
}
article .classify-title>div:last-child b:hover img:last-child{
    transform: scale(1);
    transition: all .3s;
}
article .classify-title>div:last-child b:hover img:first-child{
    visibility: hidden;
    transition: all .3s;
}
article .classify-title>div:last-child b:hover{
    background-color: #333
}
article .classify-title .classify-info{
    flex: 1;
    height: 100%;
}
article .classify-info ul{
    width: 600px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    align-content: space-between;
}
article .classify-info li{
    border: 1px solid #b6b6b6;
    color: #b6b6b6;
    padding: 2px 6px;
    margin-right: 20px;
    transition: all .4s;
}
article .classify-info li:hover{
    cursor: pointer;
    background-color: #fff;
    color: #000;
}



article .appDevelop{
    width: 100%;
    margin-top: 20px;
}
article .appDevelop .pro-normal{
    width: 24.6%;
    /* height: 440px; */
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 20px;
}
article .appDevelop .big{
    width: 49.6%;
}
article .appDevelop .pro-normal p{
    font-size: 18px;
    font-weight: normal
}
article .appDevelop .pro-normal div{
    width: 100%;
    height: 350px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}
article .appDevelop .pro-normal>p:last-child{
    font-size: 14px;
    color: #999
}
article .appDevelop .pro-normal div b{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    padding: 158px 140px;
    text-align: center;
    color: #fff;
    opacity: 0;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
article .appDevelop .pro-normal b p{
    font-size: 16px;
}
article .appDevelop .pro-normal:hover{
    cursor: pointer;
}
article .appDevelop .pro-normal:hover>p:nth-child(2){
    color: #b41b1d;
}
article .appDevelop .pro-normal:hover b{
    opacity: 1;
}
article .appDevelop .pro-normal:hover img{
    transform: scale(1.2);
}
article .appDevelop .pro-normal:hover p::after{
    transform: scaleX(0.1)
}
article .appDevelop .pro-normal:hover p::before{
    transform: scaleX(0.1)
}
article .appDevelop b p::before{
    top: 150px;
}
article .appDevelop b p::before,article .appDevelop b p::after{
    content: '';
    width: 95px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin: 2px 0;
    position: absolute;
    left: 50%;
    margin-left: -47.5px;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
article .appDevelop>div img{
    width: 100%;
    height: 100%;
    transition: all .4s;
    position: absolute;
}
article .appDevelop>div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}




article .clients{
    width: 100%;
    height: 460px;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}
article .clients-nav{
    width: 40%;
    height: 100%;
    background-color: #333;
    color: #fff;
    padding: 60px 70px;
}
article .swiper-container2{
    width: 60%;
    height: 100%;
    top: 0;
    overflow: hidden;
}
article .swiper-container2 img{
    width: 100%;
    height: 100%;
}
article .clients-nav>p{
    font-size: 32px;
}
article .clients-nav>div>p{
    font-size: 16px;
}
article .clients-nav .clients-btn{
    display: flex;
    margin-top: 120px
}
article .clients-nav>div{
    margin-top: 40px
}
article .clients-nav .clients-btn>div p{
    margin-bottom: 0
}
article .clients-nav .clients-btn>div{
    padding: 14px 40px;
    background-color: #b41b1d;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}
article .clients-nav .clients-btn>div:last-child{
    background-color: #fff;
    color: #000
}

article .dynamic{
    width: 100%;
}
article .dynamic-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
article .dynamic-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 50px;
}
article .dynamic-more a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    text-align: center;
    line-height: 38px;
}
article .dynamic-more{
    background-color: #abacac;
    width: 102px;
    height: 38px;
    font-size: 16px;
    color: #fff;
}
article .dynamic-detail{
    width: 30%;
    padding: 42px 40px;
    background-color: #fff
}
article .dynamic-detail h2{
    color: #999;
}
article .dynamic-detail>p{
    font-size: 14px;
    color: #6a6a6a;
    text-indent: 50px;
}
article .dynamic-detail>img{
    width: 100%;
    height: 190px;
    margin: 10px 0 40px 0;
}
article .dynamic-detail a{
    text-decoration: none;
    color: #000;
}
article .dynamic-list{
    width: 67%;
    border-bottom: 1px solid #d8d8d8;
}
article .dynamic-list ul{
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}
article .dynamic-list li{
    width: 48%;
    height: 124px;
    border-top: 1px solid #d8d8d8;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
article .dynamic-list li>div p{
    text-indent: 30px
}
article .dynamic-list li>p{
    font-size: 20px
}
article .dynamic-list li:hover{
    cursor: pointer;
}
article .dynamic-list li:hover h4{
    color: #b41b1d;
}


article .link{
    width: 100%;
    padding: 24px 40px;
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-bottom: 80px;
}
article .link p{
    font-size: 18px;
    margin: 0;
    border-right: 1px solid #999;
    padding:10px 10px 10px 0;
}
article .link ul{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0
}
article .link li{
    font-size: 16px;
    margin-right: 20px;
    line-height: 30px;
    color: #6e6e6e
}
article .link a{
    text-decoration: none;
    color: #6e6e6e
}


