


a:hover{
    text-decoration: none;
}
body{
    background-color: rgb(243, 243, 243);
}
article{
    width: 1500px;
    margin: 0 auto;
    /* height: 2000px; */
    padding: 0;
    padding-bottom: 50px;
    /* margin-top: 100px; */
    background-color: rgb(243, 243, 243);
}
article>div{
    width: 100%;
}

.banner{
    width: 100%;
    height: auto;
    margin-top: 100px;
}

article h4 a:hover{
    text-decoration: none;
    color: #6a6a6a;
}
article h4 a{
    text-decoration: none;
    color: #6a6a6a;
}
article h4{
    color: #6a6a6a;
    font-size: 14px;
    padding: 20px 0;
}

article .contact{
    background-color: #fff;
    padding: 108px 74px;
    text-align: center;
}
article .contact-title h1{
    font-size: 40px;
    margin-bottom: 40px;
    font-weight: normal
}
article .contact-title p{
    font-size: 16px;
    line-height: 26px;
}
article .contact ul{
    width: 100%;
    margin-top: 70px;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
article .contact ul li{
    width: 28%;
    height: 300px;
    border: 1px solid #b3b3b3;
    margin: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
article .contact ul img{
    width: 36px;
    height: 36px;
}
article .contact ul p{
    color: #000;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 56px;
}
article .contact ul span{
    font-size: 20px;
    color: #6e6e6e
}



article .form{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center
}
article .form textarea{
    width: 51%;
    display: block;
    text-indent: 1.8em;
    padding-top: 2em;
    resize:none;
    outline: none;
    margin-bottom: 10px;
}
article .form>div{
    width: 100%;
    margin:40px 0 20px;
}
article .form>div input:first-child{
    margin-right: 1%;
}
article .form>div input{
    width: 25%;
    height: 50px;
    text-indent: 2em;
    outline: none
}
article .form>input{
    width: 26%;
    height: 50px;
    background-color: #8b8b8d;
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
    outline: none;
    border: none
}
article .form>p{
    color: #9a9a9a;
    font-size: 14px;
    margin-top: 32px;
}
article .contact .bottom{
    border-top: 1px solid #e0e0e0;
    color: #bfbfbf;
    margin-top: 80px;
    padding-top: 80px;
    font-size: 18px;
}



article .findmore{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}
article .findmore h5{
    font-size: 30px;
    margin-bottom: 30px;
}
article .findmore ul{
    width: 100%;
    padding: 0;
    display: flex;
}
article .findmore li{
    width: 33.3%;
}
article .findmore img{
    width: 100%;
    height: auto;
}

article .link{
    width: 100%;
    padding: 24px 40px;
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-bottom: 80px;
    margin-top: 40px;
}
article .link p{
    font-size: 18px;
    margin: 0;
    border-right: 1px solid #999;
    padding:10px 10px 10px 0;
}
article .link ul{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0
}
article .link li{
    font-size: 16px;
    margin-right: 20px;
    line-height: 30px;
    color: #6e6e6e
}
article .link a{
    text-decoration: none;
    color: #6e6e6e
}



/* .pagination-actived{
    background-color: #da0212;
    color: #fff
} */



