

.swiper-container{
    min-width: 1500px;
}
header{
    width: 100%;
    transition: all .6s;
    position: fixed;
    top:0;
    z-index: 5;
    border-bottom: 1px solid #d5d5d5;
    display: flex;
    justify-content: space-around
}
header a{
    display: block;
    width: 100%;
    height: 100%;
    color: #000;  
}
header a:hover,header a:visited,header a:link,header a:active{
    text-decoration: none;
    color: #000
}
header .left-box{
    width: 60%;
    height: 100px;
    background-color: #EBEBEB;
    display: flex;
    align-items: center;
    padding-left: 11%;
}
header .right-box{
    width: 40%;
    height: 100px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    padding-left: 5%
}
header .right-box>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #c5c5c5;
    padding-right: 20px;
    font-size: 12px;
}
header .right-box>div>span{
    font-size: 18px;
    font-weight: 700;
}
header .right-box .icon-phone{
    width: 20px;
    height: 20px;
    
}
.header-logo{
    width: 250px;
    height: 50px;
    vertical-align: middle;
    border-right: 1px solid #c5c5c5;
    padding-right: 50px;
}
.left-box-nav{
    display: flex;
    padding-left: 0;
    margin: 0
}
.left-box-nav li{
    font-weight: 700;
    height: 100px;
    width: 80px;
    line-height: 100px;
    text-align: center;
    position: relative;
}
header li::after{
    content:'';
    width: 100%;
    height: 4px;
    background-color: #FF6347;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: all .4s;
}
header li:hover::after{
    transform: scaleX(1);
}
.right-box-nav li p{
    color: grey;
    margin-bottom: 0
}
.right-box-nav li span{
    color: #000;
    font-size: 16px;
}
.right-box-nav{
    margin-bottom: 0;
    display: flex;
}
.right-box-nav li{
    height: 100px;
    width: 100px;
    /* border-bottom: 5px solid transparent; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
header li:hover{
    cursor: pointer;
    /* border-bottom: 4px solid #FF6347 */
}
.actived::before{
    content:'';
    width: 100%;
    height: 4px;
    background-color: #FF6347;
    position: absolute;
    left: 0;
    bottom: 0;
}

.swiper-pagination-bullet{
    border-bottom: 4px solid #FF6347
}

.right-box-nav a{
    display: flex;
    justify-content: center;
    align-items: center
}

/* 二级导航 */
.right-box-nav li:first-child{
    position: relative;
}
.right-box-nav .sec-nav{
    visibility: hidden;
    opacity: 0;
    width: 140%;
    text-align: center;
    position: absolute;
    top: 100px;
    z-index: 9;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #bcbcbc;
    font-size: 16px;
    padding: 20px 0;
    transition: all .6s 
}
.right-box-nav .sec-nav a:first-child{
    margin-bottom: 20px;
}
.right-box-nav .sec-nav a:hover{
    color: #FF6347
}
.right-box-nav li:first-child:hover .sec-nav{
    visibility: visible;
    opacity: 1
}

